[submodule "lib/modules/sv_colors"]
	path = lib/modules/sv_colors
	url = ../module_sv_colors.git
[submodule "lib/modules/sv_comments"]
	path = lib/modules/sv_comments
	url = ../module_sv_comments.git
[submodule "lib/modules/sv_common"]
	path = lib/modules/sv_common
	url = ../module_sv_common.git
[submodule "lib/modules/sv_content"]
	path = lib/modules/sv_content
	url = ../module_sv_content.git
[submodule "lib/modules/sv_excerpt"]
	path = lib/modules/sv_excerpt
	url = ../module_sv_excerpt.git
[submodule "lib/modules/sv_footer"]
	path = lib/modules/sv_footer
	url = ../module_sv_footer.git
[submodule "lib/modules/sv_header"]
	path = lib/modules/sv_header
	url = ../module_sv_header.git
[submodule "lib/modules/sv_modules"]
	path = lib/modules/sv_modules
	url = ../module_sv_modules.git
[submodule "lib/modules/sv_navigation"]
	path = lib/modules/sv_navigation
	url = ../module_sv_navigation.git
[submodule "lib/modules/sv_pagination"]
	path = lib/modules/sv_pagination
	url = ../module_sv_pagination.git
[submodule "lib/modules/sv_sidebar"]
	path = lib/modules/sv_sidebar
	url = ../module_sv_sidebar.git
[submodule "lib/modules/sv_tags"]
	path = lib/modules/sv_tags
	url = ../module_sv_tags.git
[submodule "lib/modules/sv_webfontloader"]
	path = lib/modules/sv_webfontloader
	url = ../module_sv_webfontloader.git
[submodule "lib/core_theme"]
	path = lib/core_theme
	url = ../sv_core_theme.git
[submodule "lib/modules/sv_tgmpa"]
	path = lib/modules/sv_tgmpa
	url = ../module_sv_tgmpa
[submodule "lib/modules/sv_block_pullquote"]
	path = lib/modules/sv_block_pullquote
	url = ../module_sv_block_pullquote
[submodule "lib/modules/sv_branding"]
	path = lib/modules/sv_branding
	url = ../module_sv_branding
[submodule "lib/modules/sv_header_content"]
	path = lib/modules/sv_header_content
	url = ../module_sv_header_content
[submodule "lib/modules/sv_header_menu"]
	path = lib/modules/sv_header_menu
	url = ../module_sv_header_menu
[submodule "lib/modules/sv_block_columns"]
	path = lib/modules/sv_block_columns
	url = ../module_sv_block_columns
[submodule "lib/modules/sv_block_heading"]
	path = lib/modules/sv_block_heading
	url = ../module_sv_block_heading
[submodule "lib/modules/sv_block_paragraph"]
	path = lib/modules/sv_block_paragraph
	url = ../module_sv_block_paragraph
[submodule "lib/modules/sv_block_button"]
	path = lib/modules/sv_block_button
	url = ../module_sv_block_button
[submodule "lib/modules/sv_block_group"]
	path = lib/modules/sv_block_group
	url = ../module_sv_block_group
[submodule "lib/modules/sv_block_cover"]
	path = lib/modules/sv_block_cover
	url = ../module_sv_block_cover
[submodule "lib/modules/sv_block_image"]
	path = lib/modules/sv_block_image
	url = ../module_sv_block_image
[submodule "lib/modules/sv_block_gallery"]
	path = lib/modules/sv_block_gallery
	url = ../module_sv_block_gallery
[submodule "lib/modules/sv_block_table"]
	path = lib/modules/sv_block_table
	url = ../module_sv_block_table
[submodule "lib/modules/sv_block_quote"]
	path = lib/modules/sv_block_quote
	url = ../module_sv_block_quote
[submodule "lib/modules/sv_block_list"]
	path = lib/modules/sv_block_list
	url = ../module_sv_block_list
[submodule "lib/modules/sv_footer_copyright"]
	path = lib/modules/sv_footer_copyright
	url = ../module_sv_footer_copyright.git
[submodule "lib/modules/sv_header_bar"]
	path = lib/modules/sv_header_bar
	url = ../module_sv_header_bar.git
[submodule "lib/modules/sv_block_video"]
	path = lib/modules/sv_block_video
	url = ../module_sv_block_video
[submodule "lib/modules/sv_block_navigation"]
	path = lib/modules/sv_block_navigation
	url = ../module_sv_block_navigation
[submodule "lib/modules/sv_block_media_text"]
	path = lib/modules/sv_block_media_text
	url = ../module_sv_block_media_text
[submodule "lib/modules/sv_woocommerce"]
	path = lib/modules/sv_woocommerce
	url = ../module_sv_woocommerce
[submodule "lib/modules/sv_block_separator"]
	path = lib/modules/sv_block_separator
	url = ../module_sv_block_separator
[submodule "lib/modules/sv_block_code"]
	path = lib/modules/sv_block_code
	url = ../module_sv_block_code
[submodule "lib/modules/sv_block_search"]
	path = lib/modules/sv_block_search
	url = ../module_sv_block_search
[submodule "lib/modules/sv_block_preformatted"]
	path = lib/modules/sv_block_preformatted
	url = ../module_sv_block_preformatted
[submodule "lib/modules/sv_sv100_draft"]
	path = lib/modules/sv_sv100_draft
	url = ../module_sv_sv100_draft
